

<div class="row">
<div class="large-6 columns">
<img src="<%= image_path('500x500_2.png')  %>"><br>
</div>
<div class="large-6 columns">
<h3 class="show-for-small">Header<hr></h3>
<div class="panel">
<h4 class="hide-for-small">Need Help Getting Funded?<hr></h4>
<h5 class="subheader">
	
We can help you get your forms filed.
Learn what you need to know prior to seeking funding.
We provide legal advice, filing automation, and training
throughout the fundraising process.
	
</h5>
</div>
<div class="row">
<div class="large-6 small-6 columns">
<div class="panel">
<h5>Fund Raisers</h5>
<h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
<a href="#" class="small button">BUTTON TIME!</a>
</div>
</div>
<div class="large-6 small-6 columns">
<div class="panel">
<h5>Accountants, Attorneys, and Legal</h5>
<h6 class="subheader">Connect with the companies doing the deals.</h6>
<a href="#" class="small button">BUTTON TIME!</a>
</div>
</div>
</div>
</div>
</div>
 

<div class="row">
<div class="large-12 columns">
<div class="radius panel">
<form>
<div class="row collapse">
    <div style="min-height: 4em; max-height: 4em;" />
  <!--
    <div class="large-10 small-8 columns">
      <input type="text">
    </div>
    <div class="large-2 small-3 columns">
      <a href="#" class="postfix button expand">Search</a>
    </div>
   -->
   
   
</div>
</form>
</div>
</div>
</div>


<div class="row">
<div class="large-12 show-for-small columns">
<h3>Header</h3><hr>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<p>506(c)</p>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<p>Test the Waters</p>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<p>Test I Offering</p>
</div>
</div>
<div class="large-3 small-6 columns">
<img src="http://placehold.it/500x500&amp;text=Thumbnail">
<div class="panel">
<p>Test II Offering</p>
</div>
</div>
</div>

